@import "tailwindcss";

:root {
  --background: #1C1C1C;
  --foreground: #ECEDEE;
}



body {
  background: var(--background);
  color: var(--foreground);
 
}
h1, h2, h3, h4, h5,h6{

  background-image:   radial-gradient(circle at -120% -30%, #7E7E7E, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
    
  
    color: transparent;

    display: inline-block

}
p{
  color: #ECEDEE;
}
